.App {
  text-align: center;
}

body {
  background-color: #101010;
}



.profile {  
  background-color: #fcf3f3;
  height: 35vh;
  width: 35vh;
  border-radius: 50%;
  margin-top:10%;
  margin-left: 20%;
  margin-right: 15rem;
  margin-bottom: 5rem;
  /* background-image: url(./assets/profile.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

@media (max-width: 768px) {
  .profile {
    display: none;
  }
  .profile-text {
    margin-left: 250px;
  }
  
  .profile-text2 {
    margin-left: 250px;

  }
  
  .profile-text3{
    margin-left: 250px;

  }
  .profile-page{
    margin-left: 0;
  }

}


.profile-flex {
  display: flex;
  flex-direction: row;
}

.profile-text {
  margin-top: 100px;
  color: white;
  font-size: 30px;
  font-weight: lighter;
}

.profile-text2 {
  color: white;
  font-size: 30px;
  font-weight: 350;
  margin-top: 5px;

  margin-bottom: 5px;
}

.profile-text3{
  color: white;
  font-size: 30px;
  font-weight: lighter;
  padding-right: 23%;
}

.profile-text4{
  margin-left: 250px;
  color: white;
  font-size: 30px;
  font-weight: lighter;
}

.profile-page {
  margin-left: 5%;
}